# Database configuration, change the values according to your database setup and rename this file to .env
DB_URL=jdbc:postgresql://<host>:5432/<nome-do-banco>
DB_USER=<seu-usuario>
DB_PASSWORD=<sua-senha>k